/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.editable {
  cursor: pointer;
}

a {
  color: teal;
  text-decoration: none;
}

h3 a {
  font-size: xx-large;
  font-weight: 500;
}

h1 span {
  margin-left: 20px;
  font-size: large;
  font-weight: 400;
}

h3 span {
  color: #4DB6AC;
  margin-left: 20px;
  font-size: large;
  font-weight: 400;
}
